<mat-toolbar>
  <span [routerLink]="['/certificate']" class="clickable logo">CertificateManager</span>
  <div id="navigation">
    <ul>
      <li><a [routerLink]="['/certificate']" class="nav">Certificates</a></li>
      <li><a [routerLink]="['/request']" class="nav">Certificate Requests</a></li>
      <!-- <li><a class="logout" (click)="logOut()">LogOut</a></li> -->
    </ul>
  </div>
    <span [routerLink]="['/home-page']" class="clickable, logout" (click)="logOut()">LogOut
        <img id="logout-img" src="../../../assets/images/logout.png" />
    </span>
</mat-toolbar>
