<div class="container">
    <img src="../../assets/images/close.png" id="close-dialog" class="close" (click)="close()"/>

    <div id="title">Withdraw the Certificate</div>

    <mat-dialog-content>

        <mat-form-field class="example-full-width">
            <mat-label>Leave a withdrawal reason</mat-label>
            <textarea matInput [(ngModel)]="reason" placeholder="Type here..."></textarea>
          </mat-form-field>

    </mat-dialog-content>

        <button id="withdraw" (click)="withdraw()">WITHDRAW</button>
</div>


