<div class="background">
    <img src="../../assets/images/close.png" id="close-img" class="close" [routerLink]="['/login']"/>
  
  <div class="row">
      <img src="../../assets/images/mailbox.png" class="img-fluid rounded" />
  
    <mat-card *ngIf="!isSendEmail; else secondForm">
      <mat-card-content>
        
        <div id="cardHeader">
          <p class="title">Forgot</p><br><p class="title"> Password?</p>
        </div>    

        <div>
            <p class="text">Don't worry! It happens. Please enter the address associated with your account.</p>
        </div>  
  
        <form name="emailForm" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
  
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    formControlName="email" matInput required />
                  <mat-error ></mat-error>
                </mat-form-field>
              </div>
            
            <button mat-raised-button color="blue" id="submit">Submit</button>
            <div class="remember">
                <span id="remember-password">Ahh.. Now I remember my password</span>
                <a id="login" [routerLink]="['/login']">Login</a>
            </div>
        </form>
      </mat-card-content>
    </mat-card>


    <ng-template #secondForm>
    <mat-card>
      <mat-card-content>
        <div id="cardHeader">
          <p class="title-reset">Reset Password</p>
        </div>    
  
        <form name="resetPasswordForm" [formGroup]="resetPasswordForm">

            <div class="email-input">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Code</mat-label>
                  <input type="number" formControlName="code" matInput #code maxlength="6" placeholder="Ex. 941305" required>
                  <mat-hint align="end">{{code.value.length}}/6</mat-hint>
              </mat-form-field>
            </div>

            <div>
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors">
                  <div class="error" *ngIf="resetPasswordForm.controls['newPassword'].errors['pattern']">
                    Password should contain at least one uppercase letter, one lowercase letter, one number, and one special character.
                  </div>
              </div>    
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>New password</mat-label>
                  <input formControlName="newPassword" matInput [type]=" hide ? 'password' : 'text'"
                      required>
                  <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide" type="button">
                  <mat-icon>
                      {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  </button>
              </mat-form-field>  
            </div>

            <div>
              <div class="error" *ngIf="first()">
                Password does not match
              </div>
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Confirm password</mat-label>
                  <input formControlName="firstRepetedPassword" matInput [type]=" hide ? 'password' : 'text'"
                      required>
                  <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide" type="button">
                  <mat-icon>
                      {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  </button>
                  <mat-error *ngIf="!resetPasswordForm.controls['firstRepetedPassword'].valid"></mat-error>
              </mat-form-field>      
            </div>

            <div>
              <div class="error" *ngIf="second()">
                Password does not match
              </div>
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Confirm again password</mat-label>
                  <input formControlName="secondRepetedPassword" matInput [type]=" hide ? 'password' : 'text'"
                      required>
                  <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide" type="button">
                  <mat-icon>
                      {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  </button>
                  <mat-error *ngIf="!resetPasswordForm.controls['secondRepetedPassword'].valid"></mat-error>
              </mat-form-field>      
            </div>
            
            <button mat-raised-button color="blue" id="reset" (click)="doResetPassword()">Reset</button>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-template>

  </div>
</div>
